$primary-color: #fd9125 !default;
$secondary-color: #00ff00 !default;

$font-color: #272527;

$element_border-color: #b4b6b9 !default;
$element_border: 1px solid $element_border-color;

$disabled-element_text-color: #828487 !default;
$disabled-element_background-color: #f2f2f2 !default;
$disabled-element_border-color: #4c3e3e !default;


$element-height: 35px;
