@import '../../variables';

.button {
  display: inline-block;
  padding: 5px 15px;
  background: transparent;
  text-transform: uppercase;
  height: $element-height;
  font-size: ($element-height - 10px) * 0.7;
  font-weight: 400;
  line-height: $element-height - 10px;
  color: white;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  border-radius: 3px;
  transition: background .2s ease, border .2s ease, color .2s ease;
  &.disabled,
  &.disabled *,
  &.disabled:hover,
  &.disabled:hover * {
    cursor: not-allowed;
    color: $disabled-element_text-color;
    background-color: $disabled-element_background-color;
    border-color: $disabled-element_border-color;
  }
  &:focus {
    outline: none;
  }
}

.button_primary {
  border: 1px solid $primary-color;
  background: $primary-color;
  &:hover {
    border-color: darken($primary-color, 5%);
    background: darken($primary-color, 5%);
  }
}

.button_secondary {
  border: 1px solid $secondary-color;
  background: $secondary-color;
  &:hover {
    border-color: darken($secondary-color, 5%);
    background: darken($secondary-color, 5%);
  }
}
